<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>High Frequency Site</title>
</head>
<body>
	<script src="navigation.js"></script>
	<div>
		<p>
			需求：常用站点增删改查，站点点击频率自动统计，从高到低排序；设置分类栏目
		</p>
		<hr>
	</div>
	<div>
	<p><a target="_blank" href="https://www.baidu.com/">百度</a></p>
	<p><a target="_blank" href="https://blog.csdn.net/lordofadventure">我的CSDN</a></p>
	<p>
		<a target="_blank" href="https://exmail.qq.com/cgi-bin/frame_html?sid=hzgK9o8uzB6XnC9x,7&sign_type=&r=cdc88049babfefec6bd9b38bbbef5e0b">我的腾讯邮箱</a>
	</p>
	<p><a target="_blank" href="https://github.com/volactina">我的Github</a></p>
	<p><a target="_blank" href="https://www.bilibili.com/">哔哩哔哩</a></p>
	<p><a target="_blank" href="https://homenew.console.aliyun.com//">阿里云</a></p>
	<p><a target="_blank" href="https://weibo.com/login.php?url=http%3A%2F%2Fvdisk.weibo.com&entry=weipan">我的微盘</a></p>
	<p><a target="_blank" href="https://leetcode-cn.com/problemset/all/">Leetcode</a></p>
	<p><a target="_blank" href="http://www.neea.cn/">中国教育考试网</a></p>
	<p><a target="_blank" href="https://www.1point3acres.com/bbs/">一亩三分地</a></p>
	<p><a target="_blank" href="https://www.douban.com/people/143131388/notes">我的豆瓣</a></p>
	<p><a target="_blank" href="https://translate.google.cn/">谷歌翻译</a></p>
	<p><a target="_blank" href="https://portal1.ecnu.edu.cn/cas/login?service=http%3A%2F%2Fportal.ecnu.edu.cn%2Fneusoftcas.jsp">华师大公共数据库</a></p>
	<p><a target="_blank" href="http://www.ccopyright.com.cn/">中国版权登记门户网</a></p>
	<p><a target="_blank" href="https://www.nowcoder.com/">牛客网</a></p>
	<p><a target="_blank" href="https://implicit.harvard.edu/implicit/index.jsp">Project Implicit 内隐联系测验</a></p>
	<p><a target="_blank" href="https://www.taobao.com/">淘宝</a></p>
	<p><a target="_blank" href="http://muchong.com/">小木虫</a></p>
	<p><a target="_blank" href="https://www.processon.com/">ProcessOn</a></p>
	<p><a target="_blank" href="https://www.google.com.hk/">谷歌</a></p>
	<p><a target="_blank" href="https://www.youtube.com/">Youtube</a></p>
	<p><a target="_blank" href="http://www.cs.cornell.edu/~bracy/aop/errors/">http://www.cs.cornell.edu/~bracy/aop/errors/</a></p>
	<p><a target="_blank" href="https://xkcd.com/archive/">xkcd</a></p>
	<p><a target="_blank" href="https://stackoverflow.com/">stackoverflow</a></p>
	<p><a target="_blank" href="http://courses.missouristate.edu/KenVollmar/Mars/index.htm">MARS</a></p>
	<p><a target="_blank" href="http://www.ccopyright.com.cn/">中国版权保护中心</a></p>
	<p><a target="_blank" href="https://www.paypal.com">Paypal</a></p>
	<p><a target="_blank" href="https://gitee.com/">Gitee</a></p>
	<p><a target="_blank" href="https://www.ixigua.com/">西瓜视频</a></p>
	<p><a target="_blank" href="https://flomoapp.com/mine?">flomo</a></p>
	<p><a target="_blank" href="https://www.youtube.com/c/3blue1brown/videos">3B1B Youtube主页</a></p>
	<p><a target="_blank" href=""></a></p>
	<p><a target="_blank" href=""></a></p>
	</div>
	
	<div>
	<p><h1>网站开发</h1></p>
	<p><a target="_blank" href="http://tool.chinaz.com/Tools/Html_Js.aspx">HTML/JS互转工具</a></p>
	</div>
	
	
	<div>
	<p><h1>慕课</h1></p>
	<p><a target="_blank" href="https://www.icourse163.org/">中国大学MOOC</a></p>
	<p><a target="_blank" href="https://www.coursera.org/">Coursera</a></p>
	<p><a target="_blank" href="https://www.khanacademy.org/">可汗学院</a></p>
	<p><a target="_blank" href="https://brilliant.org/courses/">Brilliant</a></p>
	<p><a target="_blank" href="https://ocw.mit.edu/">MIT公开课</a></p>
	<p><a target="_blank" href="https://online.stanford.edu/">斯坦福公开课</a></p>
	<p><a target="_blank" href=""></a></p>
	</div>
	
	
	<div>
	<p><h1>考研</h1></p>
	<p><a target="_blank" href="https://yz.chsi.com.cn/">中国研究生招生信息网</a></p>
	<p><a target="_blank" href="https://yz.chsi.com.cn/">研招网</a></p>
	<p><a target="_blank" href=""></a></p>
	<p><a target="_blank" href=""></a></p>
	<p><a target="_blank" href=""></a></p>
	</div>
	
	<div>
	<p><h1>科研</h1></p>
	<p><a target="_blank" href="https://www.linkresearcher.com/">领研网</a></p>
	<p><a target="_blank" href="https://arxiv.org/">arxiv</a></p>
	<p><a target="_blank" href="http://www.lib.ecnu.edu.cn/">华师大图书馆</a></p>
	<p><a target="_blank" href="http://www.papertime.cn/">PaperTime</a></p>
	<p><a target="_blank" href="http://www.cnkis.net/check/">中国知网论文查重检测系统入口</a></p>
	<p><a target="_blank" href="http://dsa.dayainfo.com/">大雅查重</a></p>
	<p><a target="_blank" href="http://www.sci-hub.ren/">Sci-Hub</a></p>
	<p><a target="_blank" href="https://dblp.uni-trier.de/db/">dblp</a></p>
	<p><a target="_blank" href="https://www.desmos.com/scientific?lang=zh-CN">Desmos</a></p>
	<p><a target="_blank" href=""></a></p>
	<p><a target="_blank" href=""></a></p>
	</div>
	
	<div>
	<p><h1>华为</h1></p>
	<p><a target="_blank" href="https://www.3gpp.org/ftp/Specs/archive">3gpp协议下载</a></p>
	<p><a target="_blank" href="https://globalplatform.org/">Globalplatform</a></p>
	<p><a target="_blank" href="https://www.etsi.org/">ETSI</a></p>
	<p><a target="_blank" href="http://www.weboch.com.cn/weboch/technology.asp">深圳市伟博创科技有限公司（技术文章）</a></p>
	<p><a target="_blank" href="https://opensource.srlabs.de/projects/simtester/wiki">SIMtester</a></p>
	</div>
	
	<div>
	<p><h1>公司</h1></p>
	<p><a target="_blank" href="https://sananbio.com.cn/">中科三安</a></p>
	</div>
	

</body>
</html>