<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>testpage</title>
</head>
<body>
	<script src="navigation.js"></script>
	<div>
		<h1>伯爵——血宴（2020.6.26）</h1>
		<p>
			3个人可以玩。进入第一房间根据鹿头眼睛方向按开关，进入餐厅首先摆酒（通过味道），然后按照食物链顺序选择餐盘，进入下一个房间，需要把画堵上猫眼防止监控，然后躲到柜子里躲避狼人袭击，前往狼人的牢房，摸出肉之后下毒毒死他，得到灵魂之球*1，出来后进入爱丽丝房间，把国际象棋按堆成摆好，然后根据本子描述摆放4个人偶，进入三头怪房间，躲在帘子后躲避攻击，数桶里的器官数量解开下一关，用十字架插死三个头，得到灵魂之球*2，出去后插死棺材里的幽鬼，要有女性玩家与之接吻，得到灵魂之秋*3，此时还有一个心脏碎片可以用于隐藏关卡，3个灵魂之球摆放到转盘的按钮上，扭动转盘对准星象图，然后前往杀死吸血鬼，每人先进棺材，然后出来后插吸血鬼，再弹琴，然后去餐厅看NPC尬戏，再3个人分别将十字架放到三处地方杀死吸血鬼，主线结束。如果动作快即可进入支线，首先把方块贴门......
		</p>
		<h1>藤木医院（2020.6.25）</h1>
		<p>
			2个人可玩。机械恐怖无NPC。第一关放录像带摆放牌位，女假人说不想看到那个男的所以遮住男的牌位，有3个房间，第一个是8868，第三个是9000，线索说房间号是连号可以推测第一个门牌号挂反了是8988，所以要进入的房间就是8999，房间号就是门牌号后两位+医院成立年份后两位72，进入后要同时按下呼叫再按停止，然后弹出一个球，用球对着墙上的手印拍几下弹开门和线索，下一个房间摆院长日志的顺序，摆对后要有一个人进入停尸间看线索，看到的线索就是要把死掉的人的瓶子摆在上面，然后进入下一个房间，报一下尸体，然后一个人进入单人房间拿到最小的手术器械镊子，另外关闭水龙头拿到X光片操作卡，另一个人照着这上面颜色的数量拨动X光片的控制条（需要把假人放到放射屏前），成功后小房间门打开，还有就是摆最小的两个手术器械，一个是镊子一个是手术刀（这一关我觉得有点生硬），接下去拨打电话（电话号码是改过了，依据线索最后三位改成了999）
		</p>
		<h1>凛冬之日（2020.6.25）</h1>
		<p>
			4个人玩。每人穿防弹衣进去，4个角色，第一关拼图，然后是需要每个人可能要跪倒在地躺下的第二关，会得到一把枪，需要射击晚上会发光的三体人，接下去就是摆齿轮，然后去一些房间拿能量箱，可能会出现一个怪物，它瞎了所以保持安静即可，有一个人需要单人任务爬一个管道拿道具，接下去进入一个房间先摆试剂瓶（按照一定数量），然后就是三体人冲进来，开放毒气，用显微镜的灯反射激光从而关闭毒气，下一关是要靠4个人一起合作记忆，这一关很有意思也有点难度，成功后进入下一个房间，要解开3把撞针（有一个很难解开），另外要通过开关使得所有灯都亮起来，挺难的，因为开关某些灯会连带一些灯熄灭。
		</p>
		<h1>柯洛克—颤抖的工具箱（2020.6.23）</h1>
		<p>
			需要2人玩（好像1个人也可以）。首先进入保健室，要求一个人躺在床上，触发剧情机关，首先是骨折图的机关，然后是根据房屋内线索调ICU控制台按钮，接着是分解质因数的数字游戏。完事后进入房间，信箱密码这一关很有意思，是看窗户上有些汉字的一部分是黑色，就是数字。接着就是一系列小机关，然后进入父亲的房间，摆书籍、水壶，然后打开柜子里面有一些图纸，破解出密码music，拿到工具箱里的一些工具，摆在墙上摆出DREAM这几个字母，然后就可以从柜子下面暗门钻进去，按照顺序按4种乐器，演奏4首音乐，进入下一个房间，玩拼图，然后放动画，OVER。
		</p>
		<h1>熔炉（2020.6.20）</h1>
		<p>
			总共10个角色，如果人少的话会一个人饰演多个角色。首先去包子铺，然后是殡葬店，跟NPC若干互动，接着去二楼KTV，NPC表演（小狗也上场），女的服务员去一间房，男的去另一间，然后看NPC表演，然后点歌唱指定歌曲，结束后进入董事长房子，开始各种单线任务，然后去殡葬店，然后去警局，然后我是王宇通过提供真档案跳反，然后大家在办公室里解密看监控。然后四碗游戏。然后王宇跳反电击众人。（有其他结局）
		</p>
		<h1>老师好（2020.6.18）</h1>
		<p>
			欢乐主题，4个人可玩。首先若干柜子取物置换，最后得到弹珠，打弹珠后摆音符并踩出黑板上的歌，接着进入教师开始上课。若干尬戏+小游戏后进入小明父亲的家，要修改小明试卷的分数，然后弹琴并录音下来循环播放，跳出窗户进入唱片厅打工（听音识曲），赚到钱后去游戏厅打游戏，通过5关后结束
		</p>
		<h1>伯爵——别给陌生人开门（2020.6.18）</h1>
		<p>
			3人可玩。4个人去玩的。到走廊，然后皮皮带大家进入做客。然后在客厅解密，解好后进入电脑房，根据药瓶服用量打开电脑密码，然后停电变黑，皮皮变身，接下来就是去小卧室再解密（根据日记本），然后从地道爬到厨房，摆菜，然后开始做单人任务，总共有2个人，第一个人要去报警然后被皮皮抓到客厅做题去，第二个人去救人然后被皮皮抓住锁到卧室去，摆好菜后拿到钥匙和刀（皮皮怕刀），解救伙伴后报警，报警时要说地址，地址在门外，如果说错了就会来假警察，说对了就会来真警察把皮皮带走。我们说错了来了假警察（也就是真的杀人魔），他把皮皮杀死后问我们是否认识，如果我们说不认识他就会放过我们，我们说了认识，他就将我们一起灭口了。据说还有一种结局是说服皮皮一起战胜了杀人魔，或者是解开一个柜子不用报警自己离开。
		</p>
		<h1>伯爵——尸雨（2020.6.15）</h1>
		<p>
			好大雨。在外面淋湿透之后在密室里又淋湿透了。穿着雨衣进去。对戴眼镜玩家不友好（因为镜片湿透了线索都看不清）。但是下雨氛围还是很不错的233，各种房间解密然后爬到井里去，点亮蜡烛为一个汉字。
		</p>
		<h1>柯洛克——人偶之家（2020.6.15）</h1>
		<p>
			4个人去玩的，实际上3个人就可以了。进门第一关卡了好久，是看门上的格子结合线索卡通过位移之后组成新的数字，完成后开启一扇门，穿过一条长廊后进入一个门然后解密，点屏幕鬼的脸，然后放录像带，然后挑娃娃放进去，然后一个人待在柜子里，然后另外有两间房间，此时是各自的单人任务。另两间房间解完了之后从柜子门打开，然后就是合唱生日歌，需要三间房子里拉动弹下来的娃娃填对歌词。唱完后三间门都打开，然后进入一个小房间复现故事发生的顺序，结束后就通关。
		</p>
		<h1>超级贱玛丽（2020.6.14）</h1>
		<p>
			60分钟不到。开始进入房间，然后过关后爬入下水管道。接着解一个拼图游戏后进入球球池，用球球与马里奥大战三百回合，进入格斗房，用狼牙棒和马里奥再大战三百回合，最后进入一个牢房，用手枪和马里奥再大战三百回合。
		</p>
		<h1>九龙饭店（2020.6.11）</h1>
		<p>
			抽到的角色是英子（收银员），返回九龙饭店是要销毁以前贪污的账本。第一关就是需要这个账本，这个账本藏在酒箱下面。然后进去饭店大厅就会有阿福来讲话。首先算一个帐，输入正确金额之后就会拿到一个日记本（还有电梯卡），然后进入厨房、取电间之类的地方。洗手间里有个christmas线索，输入密码1225进入电梯房，进去后到达4楼看到屠夫和阿福飙戏，阿福被杀，然后出电梯追逐，一名成员被屠夫绑进去拷打，接着其他人把屠夫引出来再次进行一些追逐，屠夫走后进去营救伙伴。接下来就是再进入阿丽的房间，我去完成了一个单人任务就是去屠宰房（这时屠夫拿着相框在睡觉）拿走相框，然后屠夫失去相框后会苏醒，我再逃回房间，然后阿飞（阿里的弟弟）和阿里的鬼魂飙戏一下然后就开始每人站一个角唱歌引屠夫，之后就是阿丽和屠夫（阿明）被焚化。最后就是回忆杀飙戏阿丽和阿明。隐藏结局就是如果解开一个阿丽房间里的柜子里面就有火车票，然后就是阿丽和屠夫其实都假死的结局。
		</p>
		<h1>柯洛克—盖亚之影(2020.6.10)</h1>
		<p>
			本主题的身份是作为调查员去调查盖亚空间站的事故原因。首先来到飞船驾驶室，第一关的目标是从当前星球飞到目标星系，根据墙上的不同星系类型的效果，推算出需要消耗的能量，转动方向盘亮起对应数量的灯即可。飞到目标星系后，就是要对那儿的空间站展开搜索，根据扫描得出的初步结果派出对应类型的探测器。然后就是要启动对接，这里是有4个颜色的按钮，根据题面的要求推理出按压顺序。完成了和空间站的对接后就将对接口推到底就可以进入空间站了，首先是要恢复电力供应。将3根电源线按照题面的限制插入不同颜色槽位恢复电力供应。然后搜集房间内散落的各种线索（手、仪表盘、呼吸面罩等）放到扫描仪上可以扫描出线索的线索，然后就是要选择出不同时间点对应的事件，选择好后上传给组织。接着下面的柜子门会弹开，将里面的管道连到旁边的培养皿可以启动培养皿。然后阅读题面调整三种化学物质的配比（对应金属垃圾、塑料垃圾和生物垃圾）。接下来就是消灭另外几个培养皿中的怪物，需要按下按钮一定秒数才能消灭，不过由于几个怪物有共生的性质，因此需要算准时间按一定的先后顺序按下按钮并且不能松开，这一关需要至少2个人共同完成（好像一个人如果躺平了用脚去按按钮也不是不可以。。）消灭了怪物后需要打开空间站实验室的门，这里实验室密码是动态的，就是备用电力系统运转的天数，这里就是从事故发生当天的日期到调查者来的日期之间经过的天数。进入实验室就是要摆放科技树，根据屏幕上的前置技能点摆放，这里最后一个是要选择结局：拯救人类还是拯救地球，不同选择会触发不同结局。选择了拯救地球后，地球大军就来进攻盖亚空间站了，因此要摆出一定的迎战阵型来迎击。然后就是要备份盖亚空间站的记录文件，这里要解一个4位密码：4个液晶格式的数字叠加到一起（就会形成一个0）不过不同的横线竖线叠加的个数不同，给定叠加后每个位置的叠加次数，要恢复出是哪4个数字叠加出来的，密码就是从小到大排列。完成备份后，就要用剩下的燃料分配给3个推进器从而产生推进力，这里实际是一个不定方程最优化问题，然后根据题面求解出后就开始准备启动逃生舱了。这里需要一个人在逃生舱里，一个人在外面按红色按钮启动，逃生舱里的人也要向上拉启动阀。启动后会有一些气体冒出，就算逃走了。
		</p>
		<p>
		<h1>谋局——背包客(2020.6.8)</h1>
		<p>
			一个人其实就可以玩。全程相当于是根据当事人的回忆走一遍，外加推理出犯人。首先给一些回忆线索，上面写有旅馆房间密码，输入后进入旅馆前台，通过桌上线稿本里的数字得到被害人的储物柜密码，打开后里面有一份通讯录，从墙上的营业执政得知这家旅馆的老板是谁，然后根据线索得知老板会用电话号码来设置密码，所以用老板电话的后四位来打开前台抽屉，这就拿到了旅馆房间的所有钥匙。接下来就是要推理出当事人住哪间房间，根据线索知道酒店有一座二座三座，但是只有一座有前台，因此锁定在一座，根据回忆中的线索进一步锁定在双人房。然后旅馆的记录本上有房间的评价分为ABCD，其中C的含义是客人提出要换房间，根据回忆中的时间和提出要换房间锁定当天评价为C的房间，然后就打开了旅馆房门。这里有4扇门不过只有一扇门是要打开的（编号分别为风花雪月），也就是离前台最近的。进入后看到一个上下铺的床，下铺有一具尸体。床下有个箱子，需要解开密码，密码就是之前打开的储物柜里面所贴的Hello Kitty见面会日期（箱子的主题是Hello Kitty，可见主人很喜欢），打开后里面有个书包，书包上又有一个密码锁，这是一个英文字母的锁，根据回忆线索得知其名字是一个唱片的组合名字，因此根据前台桌上的唱片上面的名字推出书包的密码，打开后里面有一本日记。阅读日记可以得知柜子的钥匙掉在洗手池里，拧开洗手池的下水管道拿到钥匙，打开柜子里面又一具女尸，然后这里把旁边的桌子拉出来，柜子是可以推动的，另一边又发现一具女尸，里面有一本日记。根据日记再推理打开一个柜子（其中一具女尸的，也就是墙上贴的失踪女子）打开发现里面有一把手枪、警徽和一把钥匙，然后窗户上会出现一个影子用手枪打伤之，用钥匙打开前台另一个抽屉。里面有一些名片和复印纸。还有出勤考核表。通过综合推理再打开几个柜子，找到一包毒品，然后找出正确的名片拨打电话会打开柜子通关。
		</p>
		<h1>茉莉花（2020.6.5)</h1>
		<p>
			总共有6个角色。我是王东主任，里面还有梁镇长和我有竞选县长的关系。还有个潘队长，张医生，赵晓丹、梁镇长之子。里面的NPC是何调查员（墨莉之父），二狗，还有死者墨莉，任务就是去调查死者死因。每人先进一个房间，进行一些解密，可能要到其他人房间去，然后可能需要找调查员单独谈话，中场需要去墨莉灵堂，然后每人出去一趟会有墨莉的幽灵把一样东西给玩家。接下来就是下半场搜证，这里就是对抗戏了，比较快的人就会去灵堂拿到账本，这个账本是梁镇长贪污的证据，并且有王主任强暴墨莉的血书证据，这里需要王主任与赵晓丹进行py交易用录取通知书换取赵晓丹那儿的另一样证据，如果达成了交易就是赵晓丹—王主任阵营胜利（隐瞒强暴、赵晓丹成功读大学，王主任当选县长），如果梁镇长几个人更快就是梁镇长等人胜利（梁镇长隐瞒贪污、当选县长），否则就是潘队长胜利（当选县长，其他人均被判刑）。
		</p>
		<h1>双生</h1>
		<p>
			
		</p>
		<h1>弥生1</h1>
		<p>
			
		</p>
		<h1>insane</h1>
		<p>
			
		</p>
		<h1>九层半</h1>
		<p>
			
		</p>
		<h1>瞳灵人（2020.1一刷&2020.6.15中控室）</h1>
		<p>
			中控室欢乐多。
		</p>
		<h1>迷魂凶间</h1>
		<p>
			
		</p>
		<h1>鬼起太平间</h1>
		<p>
			
		</p>
		<h1>胭脂扣</h1>
		<p>
			
		</p>
		<h1>暗巷</h1>
		<p>
			
		</p>
	</div>
</body>
</html>