<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Volactina's Website</title>
	<style>
		table{
			width:300px;
		}
		th{
			background-color: #3cc;
			text-align: center;
			font-size: 18px;
			line-height: 3em;
		}
		td{
			color:white;
			background-color:black;
			font-size: 12px;
		}
		a{
			text-decoration-line: none;
			background-color: black;
			color:white;
		}
		a:hover{
			background-color:white;
			color:black;
		}
	</style>
</head>

<body>
	<script src="navigation.js"></script>
	<p>
		Welcome to My Website!
	</p>
	<table>
		<tr>
			<th>荒唐言</th>
		</tr>
		<tr>
			<td>
				<ul><a href="#">盖苍天繁星点点、大地连连绵绵，</a></ul>
				<ul><a href="#">敢问世间之因果，</a></ul>
				<ul><a href="#">缘何适得其所？</a></ul>
				<br/>
				<ul><a href="#">慨人间迷离，终为一体？</a></ul>
				<ul><a href="#">叹世态炎凉，力挽狂澜!</a></ul>
				<ul><a href="#">天下之祸，皆我之过；</a></ul>
				<ul><a href="#">繁华之流，无欲何求！</a></ul>
				<br/>
				<ul><a href="#">六十定功错，</a></ul>
				<ul><a href="#">人生如酒、</a></ul>
				<ul><a href="#">一饮即过。</a></ul>
			</td>
		</tr>
	</table>
	<div>
		<h1>日志</h1>
	</div>
	<div>
		<p>
			转177日 2020.3.11 周三<br />
			完成web前端编程技术第3章作业
		</p>
		<p>
			转162日 2020.2.25 周二<br />
			个人网站计划启动<br />
		</p>
		<p>
			转168日 2020.3.2 周一<br />
			完成Web前端编程技术第2章作业<br />
		</p>
		<p>
			需求1：英语单词查询记录功能，即自动跳转到google翻译或百度翻译等界面，或者爬取相关内容到本地，同时对于查询的词进行计数统计，生成个性化学习复习词典
		</p>
		<p>
			需求2：常用网站链接集合，比如论文网站等，各类平台
		</p>
		<p>
			需求3：论文爬取功能，拓展artixv-sanity项目，搭建学术功能区
		</p>
		<p>
			需求4：语言学习区：除了英语外，还有日语和手语的学习需求
		</p>
		<p>
			需求5：求职，个人简历，个人主页
		</p>
		<p>
			需求6：个人博客，要有编辑、博客迁移等功能
		</p>
		<p>
			需求7：手机APP和网站进行信息互传
		</p>
		<p>
			需求8：密室逃脱/桌游/剧本杀 平台项目网站&APP（创业项目）
		</p>
		<p>
			需求9：可能会想要经常性访问一些论坛，能否搞一个集成很多常用论坛的平台，方便进行及时的信息获取（简单的就是将一些论坛放在一个页面中提供入口，复杂的就是加入一些爬虫，甚至NLP的技术）
		</p>
		<p>
			需求10：类似IE浏览器的那种功能，或者浏览器中历史记录的内容，具体场景是当用户一次性打开许多网页但是当时无法全部浏览整理完毕，则整理到本网页的一个缓存网页队列中，后续可以继续查看，方便办公，包括可以对这些网页的重要性优先级进行排序，使得办公更有条理；另外对于有些有些网页，最好能够支持缓存到本地，不然可能后续这个网站挂了就看不到相应的内容了
		</p>
		<p>
			需求11：文献管理、分析、辅助，比如可视化显示多层引用关系，并可以拿到引用的那篇文献，分析出最重要的文章，最好还能爬取获得该篇文献，不过做出个事情之前要做好市场调研，先看看市面上的文献管理软件和github相关开源项目
		</p>
		<p>
			需求12：论文写作助手，分模块记录（比如需求分析、文献调查。。）包括拟立项的分类整理（灵感等）、即矿夫兄弟委员会
		</p>
		<p>
			需求13：记录想问别人的问题（不同职业），比如采访教授或研究生常用什么样的写作软件(word or latex)
		</p>
		<p>
			需求14：网页版聊天机器人：问问题会使用百度等搜索引擎提取答案
		</p>
		<p>
			需求15：恋爱平台，每人可以设计一套问卷（即恋爱笔试题），然后给对方做以评判匹配程度，主要要考虑到隐私性即不泄露具体某题的答案但是要做整体的匹配性比较
		</p>
		<p>
			需求16：机器学习课题——通过定时询问自身状况（是否饿、困、精神状况、当天的各种条件等），从而学习预测某个人的生物钟规律如饥饿时间，睡眠作息
		</p>
	</div>
</body>
</html>
