<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Time Bank</title>
</head>
<body>
	<script src="navigation.js"></script>
	<div>
		<p>
			欢迎来到时间银行，当前时间银行功能仍然在建设中，会不断完善，最近一次更新时间：2022年3月23日
		</p>
		<hr>
	</div>
	<div>
		<p>
			当前时间银行余额情况（手动维护）：X型（娱乐型）时间余额为  0   分钟，Y型（学习提升型）负债时间为    0   分钟，
		</p>
		<hr>
	</div>
	<div>
		<p>
			规则：
		</p>
		<hr>
		<p>
			1.Y型时间投入和X型时间生成比例为3：1，在该比例下，投入30分钟Y型时间后可产生10分钟X型时间（注：该比例暂时固定，将来可由时间银行以一定规则进行调节）
		</p>
		<hr>
		<p>
			2.为鼓励延迟满足以及长段学习时间，X型时间结余将以每日10%的利息进行增长；若产生X型时间为负情况，则可预付Y型投入时间，但是未偿清负债将以每日30%利息增长（注：上述利率将由时间银行根据一定规则进行调整）
		</p>
		<hr>
		<p>
			3.产生Y型或消费X型时间的项目只能在X型与Y型列表中才可，新项目的加入需要进行评审
		</p>
		<hr>
		<p>
			4.Y型投入时间最小单元为10分钟；X型消费最小单元为5分钟
		</p>
		<hr>
		<p>
			5.为鼓励完整的完成某个项目，当完成该项目后，会产生奖励性X型时间（初步计划为该项目投入Y型时间的5%）
		</p>
		<hr>
		<p>
			6.当前时间银行暂时试点家中空闲项目，暂不涉及公司/外出，未来试点完善后考虑进行拓展
		</p>
		<hr>
	</div>
	<div>
		<p>
			X型项目列表：
		</p>
		<hr>
		<p>
			1.switch
		</p>
		<hr>
	</div>
	

</body>
</html>