<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>需求管理平台</title>
</head>
<body>
    <script src="navigation.js"></script>
	<div>
		<h1>新需求</h1>
		<form action="/wantanddo.html" method="post">
			  <p><textarea name="content"></textarea></p>
			  <input type="hidden" name="op" value="add">
			  <input type="hidden" name="type" value="want">
			  status=
			  <select name="status">
			  <option value="todo" selected="selected">todo</option>
			  <option value="in progress">in progress</option>
			  </select>
			  priority=
			  <select name="priority">
			  <option type="number" value="1 High">High</option>
			  <option type="number" value="2 Median" selected="selected">Median</option>
			  <option type="number" value="3 Low">Low</option>
			  </select>
			  <!-- parent= -->
			  <!-- {% if config['currentDir'] == -1 %} -->
			  <!-- <input type="number" name="parent"> -->
			  <!-- {% else %} -->
			  <!-- <input type="number" name="parent" value="{{config['currentDir']}}"> -->
			  <!-- {% endif %} -->
              <p><button type="add">add</button></p>
        </form>
		<hr>
	</div>
	<div>
		<h1>工作模式</h1>
		<form action="/wantanddo.html" method="post">
			<select name="pattern">
			{% for pattern in config['patternList'] %}
				{% if pattern == config['currentPattern'] %}
					<option value="{{pattern}}" selected = "selected">{{pattern}}</option>
				{% else %}
					<option value="{{pattern}}">{{pattern}}</option>
				{% endif %}
			{% endfor %}
			</select>
			<input type="hidden" name="op" value="config pattern">
			<input type="hidden" name="type" value="config">
			<button>set</button>
		</form>
		当前工作目录: {% if config['currentDir'] == -1 %} root {% else %} {{config['currentDir']}} {% endif %}
		content:{{ config['curContent'] }}
		<form action="/wantanddo.html" method="post">
			<select name="ID">
			{% for parent in config['parentList'] %}
				<option value="{{parent}}">{{parent}}</option>
			{% endfor %}
			</select>
			<input type="hidden" name="op" value="config dir">
			<input type="hidden" name="type" value="config">
			<button>go to parent</button>
		</form>
		<form action="/wantanddo.html" method="post">
			<input type="hidden" name="ID" value="-1">
			<input type="hidden" name="op" value="config dir">
			<input type="hidden" name="type" value="config">
			<button>go to root</button>
		</form>
		<hr>
	</div>
	<div>
		{% for webdata in webdatas %}
				{% for tag in webdata %}
				<p>{{tag}}:{{webdata[tag]}}</p>
				{% endfor %}
				<form action="/wantanddo.html" method="post">
					  <p><textarea name="content"">{{ webdata['content'] }}</textarea></p>
					  <input type="hidden" name="id" value="{{webdata['id']}}">
					  <input type="hidden" name="op" value="update">
					  <p><button type="update">update</button></p>
				</form>
				<form action="/wantanddo.html" method="post">
					  <input type="hidden" name="id" value="{{webdata['id']}}">
					  <input type="hidden" name="op" value="delete">
					  <p><button type="delete">delete</button></p>
				</form>
				{% for status in fsm['statusList'] %}
					 {% if fsm['path'][fsm['statusList'].index(webdata['status'])][fsm['statusList'].index(status)] == 1 %}
						<form action="/wantanddo.html" method="post">
							  <input type="hidden" name="id" value="{{webdata['id']}}">
							  <input type="hidden" name="op" value="update">
							  <input type="hidden" name="status" value="{{status}}">
							  <button type="update">{{status}}</button>
						</form>
					{% endif %}
				{% endfor %}
				<form action="/wantanddo.html" method="post">
					<select name="priority">
				    <option type="number" value="1 High">High</option>
				    <option type="number" value="2 Median" selected="selected">Median</option>
				    <option type="number" value="3 Low">Low</option>
				    </select>
					<input type="hidden" name="id" value="{{webdata['id']}}">
					<input type="hidden" name="op" value="update">
					<button>set priority</button>
				</form>
				<form action="/wantanddo.html" method="post">
				      <input type="number" name="subID">
					  <input type="hidden" name="id" value="{{webdata['id']}}">
					  <input type="hidden" name="op" value="add subList">
					  <p><button type="delete">add subList</button></p>
				</form>
				<form action="/wantanddo.html" method="post">
				      <input type="number" name="subID">
					  <input type="hidden" name="id" value="{{webdata['id']}}">
					  <input type="hidden" name="op" value="del subList">
					  <p><button type="delete">delete subList</button></p>
				</form>
				<form action="/wantanddo.html" method="post">
				      <input type="number" name="parentID">
					  <input type="hidden" name="id" value="{{webdata['id']}}">
					  <input type="hidden" name="op" value="add parent">
					  <p><button type="delete">add parent</button></p>
				</form>
				<form action="/wantanddo.html" method="post">
				      <input type="number" name="parentID">
					  <input type="hidden" name="id" value="{{webdata['id']}}">
					  <input type="hidden" name="op" value="del parent">
					  <p><button type="delete">delete parent</button></p>
				</form>
				<form action="/wantanddo.html" method="post">
					<input type="hidden" name="ID" value="{{webdata['id']}}">
					<input type="hidden" name="op" value="config dir">
					<input type="hidden" name="type" value="config">
					<button>select as dir</button>
				</form>
				<hr>
		{% endfor %}
	</div>
	<div>
		<h1>参考资源</h1>
		<p><a target="_blank" href="https://baijiahao.baidu.com/s?id=1664008350346589392&wfr=spider&for=pc">前端人员必备的9款web前端开发框架</a></p>
		<hr>
	</div>

</body>
</html>